# Bytecode
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# VSCode
.vscode/

# VS Code workspace
deepdct-vo.code-workspace

# PyCharm
.idea/

# Mac
.DS_Store

# Linux
*~

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/
runs/
logs/

# Model checkpoints
*.pth
*.pt

# Dataset
data/

#Development notes
development_order.txt

# Cache
.cache/

# Python package installation metadata
*.egg-info/

# Training and evaluation artifacts
checkpoints/
evaluation/
experiments/
