numpy>=1.24,<1.25
scipy>=1.10,<1.11

torch>=2.2
torchvision>=0.17

opencv-python>=4.8
Pillow>=10.0

PyYAML>=6.0
tqdm>=4.66

matplotlib>=3.7
jupyter>=1.0
ipykernel>=6.29

pytest>=8.0
pytest-cov>=5.0

black>=24.0
isort>=5.13
flake8>=7.0timm==1.0.28
